.idea/*
src/environment/*
node_modules/*
client-side-js-example/node_modules/*
dist/*
//files with credential details 
src/firebase-credentials.json
.env
src/config/firebaseAdmin.ts
backend/firebase-credentials.json